:root {
    color-scheme: light dark;
}

body {
    min-width: 220px;
    padding: 10px;
    color:cyan;
    background-color: yellowgreen;
    font-family: system-ui;
    text-align: center;
}

#title {
    font-size: 30px;
    margin-top: 7%;
    font: -apple-system-title0;
}

#email_list {
    font: -apple-system-title3;
    background-color: black;
}

#email_list ul, #email_list li {
    margin: 0; padding: 0;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
